.row.proximos-viajes
    each viaje in viajes 
        .col-md-6.col-lg-4.mb-4 
            .card 
                img.card-img-top(src=`img/destinos_${viaje.imagen}.jpg`, alt="Imagenes Viajes")
                .card-body
                    h2= viaje.titulo 
                    p
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-linecap='round' stroke-linejoin='round' width='24' height='24' stroke-width='2')
                            path(d='M12.5 21h-6.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4')
                            path(d='M16 3v4')
                            path(d='M21.121 20.121a3 3 0 1 0 -4.242 0c.418 .419 1.125 1.045 2.121 1.879c1.051 -.89 1.759 -1.516 2.121 -1.879z')
                            path(d='M19 18v.01')
                            path(d='M8 3v4')
                            path(d='M4 11h16')
                        | #{viaje.fecha_ida} - #{viaje.fecha_vuelta}

                    p 
                        svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='#dc135f' stroke-linecap='round' stroke-linejoin='round' width='24' height='24' stroke-width='2')
                            path(d='M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0')
                            path(d='M6 21v-2a4 4 0 0 1 4 -4h4')
                            path(d='M15 19l2 2l4 -4')

                        | #{viaje.disponibles} Disponibles
                    
                    p= viaje.descripcion.substr(0, 100) + '...'

                    a(href=`viajes/${viaje.slug}`, class="btn btn-success btn-block") Mas Información